@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');


body{
    font-family: 'Macondo Swash Caps', cursive;
    color: #5e5e5e;
}

.green-color{
    color:#28b40c;
}

.yellow-color{
    color: #DFF109;
}

.blue-color{
    color: #1a35b8;
}

.title-colors{
    font-size: 30px;
}

.SSBHeader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.description,
.header-rules{
    font-size: 19px;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weapons-main{
    width: 700px;
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.game-output{
    display: flex;
    width: 700px;
    height: 190px;
    font-size: 19px;
}

.computer-play-div{
    display: flex;
    flex: 2.4;
    flex-direction: column;
    align-items: center;
    
}

.game-results{
    display: flex;
    flex: 7;
    flex-direction: column;
    padding-left: 20px;
}

.weapon-button {
    background: none;
    padding: 48px 64px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: all .5s ease;
    text-align: center;
    background-color : transparent;
    padding: 10px;
    outline: none;
    color: #5e5e5e;
}   

.gem-button:hover{
    color: #28b40c;
    opacity: 0.7;
}

.scissors-button:hover{
    color: #1a35b8;
    opacity: 0.7;   
}

.paper-button:hover{
    color: #DFF109;
    opacity: 0.7;  
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

/* Computer Div Borders for Javascript */
.purple-border {
    border: 4px solid #8070ac;
  }
  .green-border {
    border: 4px solid #62b49c;
  }
  .red-border {
    border: 4px solid #b96b78;
  }
  .grey-border {
    border: 4px solid #5e5e5e;
  }
  .grey-border-left{
    border-left: 4px solid #5e5e5e;
  }
  .green-border-left{
    border-left: 4px solid #62b49c;
  }
  .red-border-left{
    border-left: 4px solid #b96b78;
  }
  .purple-border-left{
    border-left: 4px solid #8070ac;
  }


  /* Game End */
.opacity {
    opacity: 0.5;
  }
  .game-end-div {
    text-align: center;
  }
  .game-end-text {
    font-size: 50px;
  }
  .play-again {
    visibility: hidden;
    margin-bottom: 60px;
    padding: 20px;
    font-size: 25px;
    color: #5e5e5e;
    border: 4px solid #5e5e5e;
    border-radius: 5px;
    background-color: transparent;
    transition: all .3s;
    cursor: pointer;
  }
  .play-again:hover {
    background-color: #5e5e5e;
    color: #fff;
  }

  .disabled-button .weapon-icon {
    cursor: default;
    transform: none;
  }
  .disabled-button .weapon-icon {
    cursor: default;
    transform: none;
  }
.copyright {
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: #fff;
    border-top: 4px solid #5e5e5e;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

.divider {								/* minor cosmetics */
    display: table; 
    font-size: 24px; 
    text-align: center; 
    width: 75%; 						/* divider width */
    margin: 40px auto;					/* spacing above/below */
}
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 13px;							/* adjust vertical align */
    -moz-background-size: 100% 2px; 	/* line width */
    background-size: 100% 2px; 			/* line width */
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}
.divider span:first-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
    background-image: -webkit-linear-gradient(180deg, transparent, #000);
    background-image: -moz-linear-gradient(180deg, transparent, #000);
    background-image: -o-linear-gradient(180deg, transparent, #000);
    background-image: linear-gradient(90deg, transparent, #000);
}
.divider span:nth-child(2) {
    color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
}
.divider span:last-child {				/* color changes in here */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #000, transparent);
    background-image: -moz-linear-gradient(180deg, #000, transparent);
    background-image: -o-linear-gradient(180deg, #000, transparent);
    background-image: linear-gradient(90deg, #000, transparent);
}